* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgba(131, 148, 160, 1) !important;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0px;
    max-height: 100vh;
}

.content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    /* column-gap: 20px; */
    height: 100vh;
    width: 100%;
}

.column {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column-img {
    width: 100vh;
    height: 100vh;
}

.column img {
    width: 100vh;
    height: 100vh;
}

.column-separator {
    width: 7px;
    background-color: white;
}

.side-box {
    border: 7px solid white;
    border-radius: 30px;
    padding: 0.3em 0em 0.3em 0em;
    margin: 1em 1em 1em 1em;
    text-align: center;
    white-space: nowrap;
}

.big-box {
    padding: 0.5em;
    padding-left: 1em;
    text-align: left;
}

.right-correction {
    margin-bottom: 6.5em;
}

.side-box b {
    font-family: 'Kanit', sans-serif;
    font-size: x-large;
}

.side-box p {
    font-family: 'Kanit-extralight', sans-serif;
    font-size: large;
    margin-bottom: 0;
}

.clickable-box {
    cursor: pointer;
}

.blue-box {
    background: linear-gradient(135deg, rgba(234, 236, 255, 1) 0%, rgba(196, 202, 255, 1) 100%);
}

.purple-box {
    background: linear-gradient(135deg, rgba(248, 234, 255, 1) 0%, rgba(217, 196, 255, 1) 100%);
}

.red-box {
    background: linear-gradient(135deg, rgba(255, 196, 226, 1) 0%, rgba(255, 234, 244, 1) 100%);
}

.green-box {
    background: linear-gradient(135deg, rgba(237, 255, 234, 1) 0%, rgba(201, 255, 196, 1) 100%);
}

.special-box {
    background: linear-gradient(135deg, rgba(255, 209, 246, 1) 0%, rgba(201, 255, 196, 1) 100%);
}

.modal-container {
    position: absolute;
    width: 50%;
    background: #878397;
    left: 50%;
    transform: translateX(-50%);
    top: 30%;
    padding: 20px;
    text-align: center;
}

.modal-button {
    margin: 1em;
    margin-top: 0.5em;
    padding: 0.2em;
    width: 7em;
    font-size: 3em;
    font-family: 'Kanit', sans-serif;
    border-radius: 50px;
}

.modal-submit {
    border: none;
    padding: 0.3em;
    background: linear-gradient(313deg, rgba(170, 162, 255, 1) 0%, rgba(195, 156, 251, 1) 40%, rgba(188, 170, 251, 1) 51%, rgba(156, 234, 252, 1) 96%);
    color: white;
}

.modal-close {
    border: double 3px transparent;
    background-color: transparent;
    background-image: linear-gradient(#878397, #878397), linear-gradient(313deg, rgba(170, 162, 255, 1) 0%, rgba(195, 156, 251, 1) 40%, rgba(188, 170, 251, 1) 51%, rgba(156, 234, 252, 1) 96%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    color: white;
}

.modal-button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
}

.modal-form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-form-group input {
    display: block;
    width: 60%;
    margin: 1em auto;
    padding: 0.5em 1em 0.5em 1em;
    font-size: 1.3em;
    border-radius: 30px;
    border: none;
}

.main-modal b {
    font-family: 'Kanit', sans-serif;
    font-size: 3em;
}